# Using Pandas and SQL alchemy to Connect to a Database

### Install SQL Alchemy

In [3]:
!pip install sqlalchemy
!conda install -y -q pymssql

Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\lib\site-packages (1.3.3)
Collecting package metadata (repodata.json): ...working... done
Solving environment: ...working...
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - defaults/win-64::anaconda==custom=py37_0
  - defaults/win-64::numba==0.43.1=py37hf9181ef_0
  - defaults/win-64::_anaconda_depends==2019.03=py37_0
done

## Package Plan ##

  environment location: C:\ProgramData\Anaconda3

  added / updated specs:
    - pymssql


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    tbb-2019.4                 |       h74a9793_0         173 KB
    ------------------------------------------------------------
                                           Total:         173 KB

The following NEW packages will be INSTALLED:

  tbb                pkgs/main/win-64::tbb-2019.4-h74a9793_0


Preparing transaction: ...working... done
Verifying transaction: ...working... done
Executing transaction: ...working... done

### Import packages we need

In [2]:
import sqlalchemy as sa
import pandas as pd
from sqlalchemy import create_engine

### Create a connection to our database

### Credentials
##### NB! Change the credentials to those specific to you
##### NB! Make sure you have data in your data base to query from - This train assumes you have a table called football_players in your RDS database

In [9]:
Username = 'admin'
Password = 'amazing_people'
Host = 'alphacode-explore.ccwgqdqrrmvt.eu-west-1.rds.amazonaws.com'
Port = '1433'
Database = 'Gaoretelelwe'

### 1 Create connection

In [10]:
connection = create_engine(
    'mssql+pymssql://' +
    Username + ':' + Password + '@' + Host + ':' + Port + '/' + Database
)

### 2 What is the sql query we want to perform?

In [15]:
sql_query = "Select * from football_players"

### 3 Using pandas we now take our connection and our query to create a dataframe

In [16]:
df = pd.read_sql_query(sql_query, connection)

In [17]:
df.head()

,Name,Age,Nationality,Overall,Acceleration,Aggression,Agility,Balance,Ball control,Composure,...,Short passing,Shot power,Sliding tackle,Sprint speed,Stamina,Standing tackle,Strength,Vision,Volleys,Preferred Positions
0,F. Dabo,21,England,67,70,74,59,62,63,67,...,67,54,64,73,73,70,76,43,39,LB RB
1,S. Svendsen,19,Norway,67,76,52,75,84,67,66,...,65,65,32,70,67,34,52,62,64,LM ST
2,D. Poyet,22,Uruguay,67,61,75,67,65,65,71,...,69,57,62,55,69,66,66,66,39,CDM
3,J. Kayembe,22,Belgium,67,77,70,69,69,71,60,...,68,60,31,84,57,33,67,58,45,RW LW
4,M. Castagnetti,27,Italy,67,74,64,59,67,66,71,...,68,66,67,58,82,68,71,63,51,CDM